# Overview of Pandas and SQL Integration

Pandas’ `read_sql` and `to_sql` Functions
1. `read_sql` Function

The `read_sql` function in Pandas is used to execute SQL queries and load the results into a Pandas DataFrame. It is a powerful tool for extracting data from SQL databases and integrating it into your data analysis workflow. Here’s a detailed breakdown of its usage:

Syntax:

In [ ]:
pandas.read_sql(sql, con, index_col=None, coerce_float=True, params=None, chunksize=None)



- __Parameters:__
    - `sql`: The SQL query or name of the table to read from. This can be a SQL query string or a table name.

    - `con`: A database connection object or SQLAlchemy engine instance. This defines the database connection used to execute the SQL query.

    - `index_col`: (Optional) Column to set as the index of the DataFrame. If not specified, a default integer index is used.

    - `coerce_float`: (Optional) If True, attempts to convert values to float.

    - `params`: (Optional) Parameters to pass to the SQL query, used for parameterized queries.

    - `chunksize`: (Optional) If specified, the function will return an iterator where each chunk is a DataFrame with up to chunksize rows.

__Example:__

In [17]:
import pandas as pd
from sqlalchemy import create_engine

# Create a database connection
engine = create_engine('sqlite:///mydatabase.db')

# SQL query
query = 'SELECT * FROM employee'

# Read data from the database
df = pd.read_sql(query, con=engine)

print(df.head())

   id     name  age   department   salary department_id
0   1    Alice   30           HR  50000.0          None
1   2      Bob   25  Engineering  60000.0          None
2   3  Charlie   35    Marketing  55000.0          None
3   4    David   40        Sales  70000.0          None
4   5      Eve   28  Engineering  65000.0          None

2. `to_sql`Function

The `to_sql` function allows you to write a Pandas DataFrame to a SQL database, either creating a new table or appending to an existing one. This function facilitates data persistence and integration with databases. Here’s a detailed breakdown:

- __Syntex:__

In [ ]:
Dataframe.to_sql(name, con, schema = none, if_exists = 'fail', index = True, index_label = None, chunksize = None, dtype = None)

- Parameters:
    - `name:` The name of the table to write to. If the table does not exist, it will be created.

    - `con:` A database connection object or SQLAlchemy engine instance. Defines the database connection used to write the DataFrame.

    - `schema:` (Optional) The database schema to write to. Default is None.
    
    - `if_exists:` (Optional) Specifies what to do if the table already exists. Options include:
        - `'fail':` (default) Raise a ValueError.

        - `'replace':` Drop the table before inserting new values.

        - `'append':` Append data to the existing table.

    - `index:` (Optional) Whether to write the DataFrame index as a column. Default is True.

    - `index_label:` (Optional) Column name to use for the index column. Default is None.

    - `chunksize:` (Optional) Number of rows to write at a time. Useful for large DataFrames.

    - `dtype:` (Optional) Data type to force for columns. Can be a dictionary mapping column names to data types.
    
__Example:__

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Create a database connection
engine = create_engine('sqlite:///mydatabase.db')

# Sample DataFrame
df = pd.DataFrame({
    'name': ['John Doe', 'Jane Smith'],
    'age': [30, 25]
})

# Write DataFrame to SQL table
df.to_sql('people', con=engine, if_exists='replace', index=False)

print("Data written to database successfully.")

__Additional Functions and Methods Related to SQL Integration__

- `SQLAlchemy.create_engine`
    - Used to create a SQLAlchemy engine, which is required for connecting to various types of SQL databases. It provides a unified interface for interacting with different database systems.
- __Syntax:__

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('dialect+driver://username:password@host:port/datanase')

- __Example:__

In [6]:
engine = create_engine('sqlite:///mydatabase.db')

- `DataFrame.query`
    - Allow you t oquery a DataFrame using a SQL-like syntex. Useful For filtering and selecting data within a DataFrame. 

- Syntex

In [ ]:
DataFrame.query(expr, inplace = False , **kwargs)

- __Example__

In [ ]:
df.query('age>25')

By understanding and utilizing these functions, you can efficiently manage data flow between SQL databases and Pandas, enabling comprehensive data analysis and manipulation.

# Querying Databases with Pandas

Querying databases with Pandas involves retrieving data from SQL databases and manipulating it within Pandas DataFrames. This integration allows you to perform complex data analysis by combining the power of SQL with Pandas’ data manipulation capabilities.

### 1. Filtering Data

Filtering data means retrieving only those rows from a table that meet certain conditions. You can either filter the data directly in the SQL query or load the data into a Pandas DataFrame and then apply filtering.

- __Example:__ Filtering with SQL Query

In [6]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Create a database connection using SQLAlchemy's create_engine function.
# This allows Pandas to communicate with the database.
engine = create_engine('sqlite:///mydatabase.db')

# Step 2: Write an SQL query to select all employees older than 30.
query = 'SELECT * FROM employee WHERE age > 30'

# Step 3: Execute the SQL query using pd.read_sql() to fetch the data from the database.
# The fetched data is automatically loaded into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

# Step 4: Display the resulting DataFrame.
print(df)

    id     name  age   department   salary
0    3  Charlie   35    Marketing  55000.0
1    4    David   40        Sales  70000.0
2    6    Frank   32           HR  52000.0
3    8     Hank   45        Sales  72000.0
4   10     Jack   38           HR  54000.0
5   11    Kathy   31    Marketing  60000.0
6   13     Mona   33        Sales  71000.0
7   14     Nate   34  Engineering  64000.0
8   15   Olivia   36           HR  53000.0
9   17   Quincy   37    Marketing  59000.0
10  19      Sam   41        Sales  75000.0
11  23  Charlie   35    Marketing  55000.0
12  24    David   40        Sales  70000.0
13  26    Frank   32           HR  52000.0
14  28     Hank   45        Sales  72000.0
15  30     Jack   38           HR  54000.0
16  31    Kathy   31    Marketing  60000.0
17  33     Mona   33        Sales  71000.0
18  34     Nate   34  Engineering  64000.0
19  35   Olivia   36           HR  53000.0
20  37   Quincy   37    Marketing  59000.0
21  39      Sam   41        Sales  75000.0

- __Explanation:__
    - `pd.read_sql(query, con=engine):` This function executes the SQL query and loads the results into a Pandas DataFrame. The `con=engine` parameter specifies the database connection.

    - The DataFrame `df` now contains only book where id = 2 .

__Example: Filtering with Pandas__

In [7]:
# Step 1: Assume you have a DataFrame 'df' containing all employees' data.
# You want to filter out employees whose age is greater than 30.

# Step 2: Apply the filtering condition using Pandas' DataFrame filtering.
filtered_df = df[df['age'] > 30]

# Step 3: Display the filtered DataFrame.
print(filtered_df)

    id     name  age   department   salary
0    3  Charlie   35    Marketing  55000.0
1    4    David   40        Sales  70000.0
2    6    Frank   32           HR  52000.0
3    8     Hank   45        Sales  72000.0
4   10     Jack   38           HR  54000.0
5   11    Kathy   31    Marketing  60000.0
6   13     Mona   33        Sales  71000.0
7   14     Nate   34  Engineering  64000.0
8   15   Olivia   36           HR  53000.0
9   17   Quincy   37    Marketing  59000.0
10  19      Sam   41        Sales  75000.0
11  23  Charlie   35    Marketing  55000.0
12  24    David   40        Sales  70000.0
13  26    Frank   32           HR  52000.0
14  28     Hank   45        Sales  72000.0
15  30     Jack   38           HR  54000.0
16  31    Kathy   31    Marketing  60000.0
17  33     Mona   33        Sales  71000.0
18  34     Nate   34  Engineering  64000.0
19  35   Olivia   36           HR  53000.0
20  37   Quincy   37    Marketing  59000.0
21  39      Sam   41        Sales  75000.0

- __Explanation:__

    - `df['age'] > 30:` This creates a boolean mask, which is True for rows where the age is greater than 30 and False otherwise.

    - `df[df['age'] > 30]:` The DataFrame is filtered based on the boolean mask, returning only the rows where the condition is True.
    
### 2. Sorting Data

Sorting data involves arranging the rows in a DataFrame based on the values in one or more columns. Sorting can be done in SQL before the data is loaded or within Pandas after the data is loaded.

- __Example: Sorting with SQL Query__

In [8]:
# Step 1: Write an SQL query to sort the data by age in descending order.
query = 'SELECT * FROM employee ORDER BY age DESC'

# Step 2: Execute the SQL query and load the sorted data into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

# Step 3: Display the sorted DataFrame.
print(df)

    id     name  age   department   salary
0    8     Hank   45        Sales  72000.0
1   28     Hank   45        Sales  72000.0
2   19      Sam   41        Sales  75000.0
3   39      Sam   41        Sales  75000.0
4    4    David   40        Sales  70000.0
5   24    David   40        Sales  70000.0
6   10     Jack   38           HR  54000.0
7   30     Jack   38           HR  54000.0
8   17   Quincy   37    Marketing  59000.0
9   37   Quincy   37    Marketing  59000.0
10  15   Olivia   36           HR  53000.0
11  35   Olivia   36           HR  53000.0
12   3  Charlie   35    Marketing  55000.0
13  23  Charlie   35    Marketing  55000.0
14  14     Nate   34  Engineering  64000.0
15  34     Nate   34  Engineering  64000.0
16  13     Mona   33        Sales  71000.0
17  33     Mona   33        Sales  71000.0
18   6    Frank   32           HR  52000.0
19  26    Frank   32           HR  52000.0
20  11    Kathy   31    Marketing  60000.0
21  31    Kathy   31    Marketing  60000.0
22   1    Alice   30           HR  50000.0
23  21    Alice   30           HR  50000.0
24   7    Grace   29    Marketing  58000.0
25  16     Pete   29        Sales  68000.0
26  27    Grace   29    Marketing  58000.0
27  36     Pete   29        Sales  68000.0
28   5      Eve   28  Engineering  65000.0
29  20     Tina   28           HR  56000.0
30  25      Eve   28  Engineering  65000.0
31  40     Tina   28           HR  56000.0
32  12      Leo   27  Engineering  67000.0
33  32      Leo   27  Engineering  67000.0
34   9      Ivy   26  Engineering  63000.0
35  29      Ivy   26  Engineering  63000.0
36   2      Bob   25  Engineering  60000.0
37  22      Bob   25  Engineering  60000.0
38  18     Rita   24  Engineering  62000.0
39  38     Rita   24  Engineering  62000.0

__Explanation:__

- `ORDER BY ade DESC`: This clause sorts the rows by the `age` column in descendind order (hidhest ade first).
- The resultind DataFrame `df` is sorted by ade when loaded.

__Example: Sortind with Pandas__

In [9]:
# Step 1: Assume 'df' is a DataFrame containing employee' data.

# Step 2: Use Pandas' sort_values() to sort the DataFrame by age in descending order.
sorted_df = df.sort_values(by='age', ascending=False)

# Step 3: Display the sorted DataFrame.
print(sorted_df)

    id     name  age   department   salary
0    8     Hank   45        Sales  72000.0
1   28     Hank   45        Sales  72000.0
2   19      Sam   41        Sales  75000.0
3   39      Sam   41        Sales  75000.0
4    4    David   40        Sales  70000.0
5   24    David   40        Sales  70000.0
6   10     Jack   38           HR  54000.0
7   30     Jack   38           HR  54000.0
8   17   Quincy   37    Marketing  59000.0
9   37   Quincy   37    Marketing  59000.0
11  35   Olivia   36           HR  53000.0
10  15   Olivia   36           HR  53000.0
12   3  Charlie   35    Marketing  55000.0
13  23  Charlie   35    Marketing  55000.0
14  14     Nate   34  Engineering  64000.0
15  34     Nate   34  Engineering  64000.0
16  13     Mona   33        Sales  71000.0
17  33     Mona   33        Sales  71000.0
18   6    Frank   32           HR  52000.0
19  26    Frank   32           HR  52000.0
21  31    Kathy   31    Marketing  60000.0
20  11    Kathy   31    Marketing  60000.0
22   1    Alice   30           HR  50000.0
23  21    Alice   30           HR  50000.0
24   7    Grace   29    Marketing  58000.0
25  16     Pete   29        Sales  68000.0
26  27    Grace   29    Marketing  58000.0
27  36     Pete   29        Sales  68000.0
30  25      Eve   28  Engineering  65000.0
31  40     Tina   28           HR  56000.0
29  20     Tina   28           HR  56000.0
28   5      Eve   28  Engineering  65000.0
32  12      Leo   27  Engineering  67000.0
33  32      Leo   27  Engineering  67000.0
34   9      Ivy   26  Engineering  63000.0
35  29      Ivy   26  Engineering  63000.0
36   2      Bob   25  Engineering  60000.0
37  22      Bob   25  Engineering  60000.0
38  18     Rita   24  Engineering  62000.0
39  38     Rita   24  Engineering  62000.0

- __Explanation:__
- `df.sort_values(by='age', ascending=False)`: This sorts the DataFrame by the `age` column in descending order. The `ascending=False` argument specifies the sort order.

- The DataFrame `sorted_df` is now sorted by age, with the oldest employees first.

## Aggregating Data

Aggregating data means summarizing the data using operations like sum, average, count, etc. Aggregation can be done directly in SQL or using Pandas after loading the data.

- __Example: Aggregating with SQL Query__

In [10]:
# Step 1: Write an SQL query to calculate the average salary by department.
query = 'SELECT department,  AVG(salary) as avg_salary FROM employee GROUP BY department'

# Step 2: Execute the SQL query and load the aggregated data into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

# Step 3: Display the aggregated DataFrame.
print(df)

    department  avg_salary
0  Engineering     63500.0
1           HR     53000.0
2    Marketing     58000.0
3        Sales     71200.0

__Explanation:__

- `AVG(salary) AS average_salary:` This calculates the average salary for each department.

- `GROUP BY department:` This groups the data by the department column before applying the aggregation.

- The resulting DataFrame df contains the average salary for each department.

__Example: Aggregating with Pandas__

In [11]:
# Step 1: Assume 'df' is a DataFrame containing employees' data.

# Step 2: Use Pandas' groupby() to group the data by department.
# Then, use the mean() function to calculate the average salary for each group.
aggregated_df = df.groupby('department')['avg_salary'].mean().reset_index()

# Step 3: Display the aggregated DataFrame.
print(aggregated_df)

    department  avg_salary
0  Engineering     63500.0
1           HR     53000.0
2    Marketing     58000.0
3        Sales     71200.0

- __Explanation:__

    - `df.groupby('department')['salary'].mean():` This groups the DataFrame by the `department` column and calculates the mean salary for each group.

    - `reset_index():` This resets the index of the resulting DataFrame, making `department` a column again.

    - The DataFrame `aggregated_df` now contains the average salary for each `department`.

# Joining Tables with Pandas

Joining tables refers to combining data from multiple sources (tables) into a single DataFrame based on common columns. Pandas allows you to perform various types of joins (inner, left, right, outer) similar to SQL.

## 1. Inner Join

An inner join returns only the rows with matching values in both tables.

- __Example: Inner Join with SQL Query__

In [16]:
# Step 1: Write an SQL query to perform an inner join between employee and departments.
query = '''
SELECT employee.name, department.department_name
FROM employee
INNER JOIN department
ON employee.department_id = department.department_id
'''

# Step 2: Execute the SQL query and load the joined data into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

# Step 3: Display the joined DataFrame.
print(df)

Empty DataFrame
Columns: [name, department_name]
Index: []

- __Explanation:__
    - `INNER JOIN departments ON employees.department_id = departments.id:` This joins the employees table with the `departments` table where the `department_id` in `employees` matches the id in `departments`.

    - The resulting DataFrame dd`f contains only the rows where there is a match between the two tables.
    
- __Example: Inner Join with Pandas__

In [ ]:
# Step 1: Assume 'employees_df' and 'departments_df' are DataFrames.

# Step 2: Use Pandas' merge() to perform an inner join on the department_id and id columns.
merged_df = pd.merge(employees_df, departments_df, left_on='department_id', right_on='id')

# Step 3: Display the joined DataFrame.
print(merged_df)

- __Explanation:__
    - `pd.merge(employees_df, departments_df, left_on='department_id', right_on='id'):` This merges `employees_df` and `departments_df` on the `department_id` column from `employees_df` and the id column from `departments_df`.
    
    - The resulting DataFrame merged_df contains only rows where there is a match between the two DataFrames.

## 2. Left Join

A left join returns all rows from the left table (first table) and the matching rows from the right table (second table). Non-matching rows from the right table will have NaN values.

- __Example: Left Join with SQL Query__

In [ ]:
# Step 1: Write an SQL query to perform a left join between employees and departments.
query = '''
SELECT employees.name, departments.department
FROM employees
LEFT JOIN departments
ON employees.department_id = departments.id
'''

# Step 2: Execute the SQL query and load the joined data into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

# Step 3: Display the joined DataFrame.
print(df)

- __Explanation:__
    - `LEFT JOIN departments ON employees.department_id = departments.id:` This joins all rows from `employees` with matching rows from `departments`. If no match is found, the department column will have NaN values.
    
    - The resulting DataFrame `df` includes all employees, even if they do not belong to a department.
- __Example: Left Join with Pandas__

In [ ]:
# Step 1: Assume 'employees_df' and 'departments_df' are DataFrames.

# Step 2: Use Pandas' merge() to perform a left join on the department_id and id columns.
merged_df = pd.merge(employees_df, departments_df, left_on='department_id', right_on='id', how='left')

# Step 3: Display the joined DataFrame.
print(merged_df)

- Explanation:
    - `pd.merge(employees_df, departments_df, left_on='department_id', right_on='id', how='left'):` This merges `employees_df` and `departments_df` using a left join. All rows from `employees_df` are retained, and non-matching rows in `departments_df` result in NaN values.
    
    - The resulting DataFrame `merged_df` contains all employees, even those without a matching department.

## 3. Right Join

A right join is the opposite of a left join, returning all rows from the right table and matching rows from the left table. Non-matching rows from the left table will have NaN values.

- __Example: Right Join with SQL Query__

In [ ]:
# Step 1: Write an SQL query to perform a right join between employees and departments.
query = '''
SELECT employees.name, departments.department
FROM employees
RIGHT JOIN departments
ON employees.department_id = departments.id
'''

# Step 2: Execute the SQL query and load the joined data into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

# Step 3: Display the joined DataFrame.
print(df)

- __Explanation:__
    - `RIGHT JOIN departments ON employees.department_id = departments.id:` This joins all rows from `departments` with matching rows from `employees`. If no match is found, the `name` column will have NaN values.

    - The resulting DataFrame `df` includes all departments, even if no employees belong to them.

- __Example: Right Join with Pandas__

In [ ]:
# Step 1: Assume 'employees_df' and 'departments_df' are DataFrames.

# Step 2: Use Pandas' merge() to perform a right join on the department_id and id columns.
merged_df = pd.merge(employees_df, departments_df, left_on='department_id', right_on='id', how='right')

# Step 3: Display the joined DataFrame.
print(merged_df)

- __Explanation:__
    - `pd.merge(employees_df, departments_df, left_on='department_id', right_on='id', how='right'):` This merges `employees_df` and `departments_df` using a right join. All rows from `departments_df` are retained, and non-matching rows in `employees_df` result in NaN values.
    
    - The resulting DataFrame `merged_df` contains all `departments`, even if they have no associated employees.

## 4. Outer Join
An outer join returns all rows from both tables, with NaN values for non-matching rows in either table.

- __Example: Outer Join with SQL Query__

In [ ]:
# Step 1: Write an SQL query to perform a full outer join between employees and departments.
# Note: Some SQL databases use "FULL JOIN" or "FULL OUTER JOIN".
query = '''
SELECT employees.name, departments.department
FROM employees
FULL OUTER JOIN departments
ON employees.department_id = departments.id
'''

# Step 2: Execute the SQL query and load the joined data into a Pandas DataFrame.
df = pd.read_sql(query, con=engine)

# Step 3: Display the joined DataFrame.
print(df)

- __Explanation:__

    - `FULL OUTER JOIN departments ON employees.department_id = departments.id:` This returns all rows from both `employees` and `departments`, with NaN values where no match is found. 

    - The resulting DataFrame `df` includes all employees and `departments`, even those without a match.

__Example: Outer Join with Pandas__

In [ ]:
# Step 1: Assume 'employees_df' and 'departments_df' are DataFrames.

# Step 2: Use Pandas' merge() to perform an outer join on the department_id and id columns.
merged_df = pd.merge(employees_df, departments_df, left_on='department_id', right_on='id', how='outer')

# Step 3: Display the joined DataFrame.
print(merged_df)

- __Explanation:__

    - `pd.merge(employees_df, departments_df, left_on='department_id', right_on='id', how='outer'):` This merges `employees_df` and `departments_df` using an outer join. All rows from both DataFrames are retained, with NaN values where no match is found.

    - The resulting DataFrame `merged_df` contains all employees and departments, even those without a match.

# Practical Application

## Connecting to a Database using SQLAlchemy

SQLAlchemy is a powerful toolkit and Object Relational Mapper (ORM) for Python, allowing you to connect to various databases seamlessly. The `create_engine` function in SQLAlchemy is used to establish a connection to your database, whether it’s SQLite, MySQL, PostgreSQL, or any other supported database system. Here’s how to use it:

- Creating a Connection String:The connection string defines how to connect to your database, including the database dialect (like `sqlite`, `mysql`, etc.), driver, username, password, host, port, and database name. The format is:

In [ ]:
dialect+driver://username:password@host:port/database

For example, to connect to an SQLite database, the connection string might look like this:

In [ ]:
from sqlalchemy import create_engine

# SQLite connection string

engine = create_engine('sqlite:///mydatabase.db')

In this case, `sqlite:///mydatabase.db` indicates that you are connecting to an SQLite database named `mydatabase.db`. If the file does not exist, SQLite will create it.

- __Handling Authentication:__
When connecting to more complex databases like MySQL or PostgreSQL, you’ll often need to include authentication details in the connection string:

In [ ]:
engine = create_engine('mysql+pymysql://username:password@localhost/mydatabase')

In this example:

- mysql+pymysql specifies the MySQL dialect and the pymysql driver.

- username and password are your database credentials.

- localhost is the database host (can be an IP address or domain name).

- mydatabase is the name of the database you want to connect to.

__Example of Establishing a Connection:__

In [1]:
from sqlalchemy import create_engine

# Example connection to a MySQL database 
engine = create_engine('mysql+pymysql://root:1507@localhost/purchase')

# Connect to database
connection = engine.connect()

print("Connection successful!")

Connection successful!

This code connects to the MySQL database and prints a confirmation message. Once connected, you can execute queries and interact with the database through this connection.

# Querying Data from SQLite
Explanation:

Once you’ve established a connection to your database using SQLAlchemy, the next step is to execute SQL queries to extract data. Here’s how you can query data from an SQLite database and load it into a Pandas DataFrame:

Executing SQL Queries:You can execute SQL queries directly through the connection object. For example, to select all records from a table called `employees`, you might use:

In [ ]:
from sqlalchemy import create_engine 
import pandas as pd 

# Connect to SQLite database 
engine = create_engine('sqlite:///mydatabase.db')

# SQL query
query = "SELECT * FROM emoployee"

# Execute the query and load data into a dataframe
df = pd.read_sql(query, con = engine)

print(df.head())

__In this example:__

- The SQL query "SELECT * FROM employees" is executed to retrieve all records from the employees table.

- The pd.read_sql function reads the result of the query and loads it directly into a Pandas DataFrame.

__Filtering Data with SQL Queries:__

You can also write more complex SQL queries to filter, sort, or aggregate data before loading it into Pandas:

In [ ]:
query = "SELECT name, age FROM employees WHERE age > 30 ORDER BY age DESC"
df = pd.read_sql(query, con=connection)

print(df)

This query retrieves the name and age columns from the employees table for employees older than 30, sorted by age in descending order.

__Closing the Connection:__

After you’re done with the database operations, it’s good practice to close the connection:

In [ ]:
connection.close()

## Performing Data Analysis with Pandas

Once the data is loaded into a Pandas DataFrame, you can perform various data analysis tasks. Pandas offers a wide range of functions for data cleaning, transformation, and visualization. Here’s how to analyze the queried data:

- __Data Cleaning__:Before performing analysis, you might need to clean the data by handling missing values, converting data types, or removing duplicates:

In [ ]:
# Check for missing values
print(df.isnull().sum())

# Fill missing values with a default value
df['age'].fillna(df['age'].mean(), inplace=True)

# Drop duplicates
df.drop_duplicates(inplace=True)

__Data Transformation:__
You can transform the data by creating new columns, renaming columns, or filtering rows:

In [ ]:
# Create a new column based on existing data
df['age_group'] = pd.cut(df['age'], bins=[0, 18, 35, 60, 100], labels=['Child', 'Young Adult', 'Adult', 'Senior'])

# Rename columns
df.rename(columns={'name': 'employee_name'}, inplace=True)

# Filter rows
adults = df[df['age_group'] == 'Adult']

__Data Visualization:__
Visualization is crucial for understanding trends and patterns in the data. You can create various plots using Pandas and Matplotlib:

In [ ]:
import matplotlib.pyplot as plt

# Plot the distribution of ages
df['age'].plot(kind='hist', bins=10, title='Age Distribution')

plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

This code creates a histogram of the age column, allowing you to visualize the distribution of ages within your dataset.

- __Aggregation and Grouping:__
You can aggregate data to summarize information, such as calculating averages, sums, or counts:

In [ ]:
# Group by age group and calculate the average age
age_summary = df.groupby('age_group')['age'].mean()

print(age_summary)

This example groups the data by age_group and calculates the mean age for each group.

By mastering these practical applications—connecting to databases using SQLAlchemy, querying data from SQLite, and performing data analysis with Pandas—you can efficiently manage and analyze large datasets, turning raw data into actionable insight