In [1]:
# Import Library
import mysql.connector

In [2]:
# Create connection with server 
conn = mysql.connector.connect(host = "localhost", user = "root", password = "1507")

In [4]:
# Create a object to run queries
cursor = conn.cursor()

In [6]:
# Create database 'contacts'
cursor.execute('CREATE DATABASE contacts')

In [7]:
# Use the database 
cursor.execute('USE contacts')

In [9]:
# Create table for contacts
cursor.execute('''
               CREATE TABLE IF NOT EXISTS contacts(
                   id INTEGER PRIMARY KEY AUTO_INCREMENT,
                   first_name VARCHAR(50) NOT NULL,
                   last_name VARCHAR(50) NOT NULL,
                   phone_number VARCHAR(50),
                   email VARCHAR(50))
                   '''
               )
conn.commit()

In [10]:

# Add a contact
def add_contact(first_name,last_name,phone_number,email):
    cursor.execute('''
                   INSERT INTO contacts(first_name,last_name,phone_number,email)
                   VALUES(%s,%s,%s,%s)
                   ''',(first_name,last_name,phone_number,email))
    conn.commit()

In [11]:
# Add contacts
add_contact('David', 'Miller', '555-6543', 'david.miller@example.com')
add_contact('Laura', 'Wilson', '555-7890', 'laura.wilson@example.com')
add_contact('James', 'Taylor', '555-0987', 'james.taylor@example.com')

In [12]:
# View contacts
def view_contacts():
    cursor.execute('SELECT*FROM contacts')
    rows=cursor.fetchall()
    if rows:
        for row in rows:
            print(f"ID: {row[0]}, First Name: {row[1]}, Last Name: {row[2]}, Phone: {row[3]}, Email: {row[4]}")
    else:
        print('No contact found.')

In [13]:

view_contacts()

ID: 1, First Name: David, Last Name: Miller, Phone: 555-6543, Email: david.miller@example.com
ID: 2, First Name: Laura, Last Name: Wilson, Phone: 555-7890, Email: laura.wilson@example.com
ID: 3, First Name: James, Last Name: Taylor, Phone: 555-0987, Email: james.taylor@example.com

In [14]:
# Update a contact
def update_contact(contact_id,first_name=None,last_name=None,phone_number=None,email=None):
    query='UPDATE contacts SET'
    params=[]

    if first_name:
        query+= ' first_name = %s,'
        params.append(first_name)
    if last_name:
        query+= ' last_name = %s,'
        params.append(last_name)
    if phone_number:
        query+=' phone_number = %s,'
        params.append(phone_number)
    if email:
        query+= ' email = %s,'
        params.append(email)
    query=query.rstrip(',')  + ' WHERE id = %s'
    params.append(contact_id)
    
    cursor.execute(query,params)
    conn.commit()

In [15]:
update_contact(1, phone_number='555-7777', email='david.miller@newdomain.com')
update_contact(2, last_name='Anderson', email='laura.anderson@example.com')
update_contact(3, first_name='Jim', phone_number='555-1111')

In [16]:
# Delete a contact
def delete_contact(contact_id):
    cursor.execute('DELETE FROM contacts WHERE id = %s', (contact_id,))
    conn.commit()

In [17]:
delete_contact(3)

In [18]:
view_contacts()

ID: 1, First Name: David, Last Name: Miller, Phone: 555-7777, Email: david.miller@newdomain.com
ID: 2, First Name: Laura, Last Name: Anderson, Phone: 555-7890, Email: laura.anderson@example.com