In [6]:
# Import Library
import mysql.connector

In [7]:
# Create connection with server 
conn = mysql.connector.connect(host = "localhost", user = "root", password = "1507")

In [8]:
# Create a object to run queries
cursor = conn.cursor()

In [9]:
# Use the database 
cursor.execute('USE expense_tracker')

In [10]:
# Create table expenses
cursor.execute('''
            CREATE TABLE IF NOT EXISTS expenses(
                id INTEGER PRIMARY KEY AUTO_INCREMENT,
                date VARCHAR(50) NOT NULL,
                category VARCHAR(50) NOT NULL,
                amount DECIMAL(20) NOT NULL,
                description VARCHAR(50)
            )
''')

In [11]:
# Create function to add values into the table 
def add_expenses(date, category, amount, description):
    cursor.execute('''
                   INSERT INTO expenses(date, category, amount, description )
                   VALUES(%s,%s,%s,%s)
                   ''', (date, category, amount, description))
    conn.commit()

In [12]:
# Add sample values  
add_expenses('2024-09-10', 'Groceries', 50.75, 'Weekly grocery shopping')
add_expenses('2024-09-11', 'Transport', 15.00, 'Taxi fare')
add_expenses('2024-09-12', 'Utilities', 100.00, 'Electricity bill')

In [13]:
# Create a function to view the values of the table 
def view_expenses():
    cursor.execute('SELECT * FROM expenses')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [14]:
# View the values of the table 
view_expenses()

(1, '2024-09-15', 'Dining', Decimal('51'), 'Weekly grocery shopping')
(2, '2024-09-10', 'Groceries', Decimal('76'), 'Grocery shopping for the week')
(3, '2024-09-12', 'Transport', Decimal('25'), 'Bus fare')
(5, '2024-09-10', 'Groceries', Decimal('51'), 'Weekly grocery shopping')
(6, '2024-09-11', 'Transport', Decimal('15'), 'Taxi fare')
(7, '2024-09-12', 'Utilities', Decimal('100'), 'Electricity bill')

In [15]:
def update_expenses(expense_id, date=None, category=None, amount=None, description=None):
    query = "UPDATE expenses SET "
    params = []
    
    if date:
        query += "date = %s, "
        params.append(date)
    
    if category:
        query += "category = %s, "
        params.append(category)
        
    if amount:
        query += "amount = %s, "
        params.append(amount)
        
    if description:
        query += "description = %s, "
        params.append(description)
        
    # Remove the trailing comma and space, and add WHERE clause
    query = query.rstrip(', ') + " WHERE id = %s"
    params.append(expense_id)
    
    # Execute the query
    cursor.execute(query, tuple(params))
    conn.commit()
    
    # Print the query and params for debugging
    print("Query:", query)
    print("Params:", params)

In [16]:
# Update some values 
update_expenses(1, date='2024-09-15', category='Dining')
update_expenses(2, amount=75.50, description='Grocery shopping for the week')
update_expenses(3, date='2024-09-12', category='Transport', amount="25.00", description='Bus fare')

Query: UPDATE expenses SET date = %s, category = %s WHERE id = %s
Params: ['2024-09-15', 'Dining', 1]
Query: UPDATE expenses SET amount = %s, description = %s WHERE id = %s
Params: [75.5, 'Grocery shopping for the week', 2]
Query: UPDATE expenses SET date = %s, category = %s, amount = %s, description = %s WHERE id = %s
Params: ['2024-09-12', 'Transport', '25.00', 'Bus fare', 3]

In [17]:
view_expenses()

(1, '2024-09-15', 'Dining', Decimal('51'), 'Weekly grocery shopping')
(2, '2024-09-10', 'Groceries', Decimal('76'), 'Grocery shopping for the week')
(3, '2024-09-12', 'Transport', Decimal('25'), 'Bus fare')
(5, '2024-09-10', 'Groceries', Decimal('51'), 'Weekly grocery shopping')
(6, '2024-09-11', 'Transport', Decimal('15'), 'Taxi fare')
(7, '2024-09-12', 'Utilities', Decimal('100'), 'Electricity bill')

In [18]:
# Create delete function for deleting the values of the table 
def delete_expenses(expense_id):
    cursor.execute('DELETE FROM expenses WHERE id = %s', (expense_id,))
    conn.commit()

In [19]:
# Delete the expense with id = 4
delete_expenses(4)

In [20]:
view_expenses()

(1, '2024-09-15', 'Dining', Decimal('51'), 'Weekly grocery shopping')
(2, '2024-09-10', 'Groceries', Decimal('76'), 'Grocery shopping for the week')
(3, '2024-09-12', 'Transport', Decimal('25'), 'Bus fare')
(5, '2024-09-10', 'Groceries', Decimal('51'), 'Weekly grocery shopping')
(6, '2024-09-11', 'Transport', Decimal('15'), 'Taxi fare')
(7, '2024-09-12', 'Utilities', Decimal('100'), 'Electricity bill')