## Project 1: Personal Expense Tracker
## Objective:
Build an application to track personal expenses,allowing users to add,view,update and delete expense records.

## Setup and Requirements:
- **Database** : SQLite
- **Technology** : Python

In [1]:
# Import sqlite3 library
import sqlite3

In [5]:
# Connect the database or Create database if not exists
conn=sqlite3.connect('expense_tracker.db')

In [6]:
# Make an Object 
cursor=conn.cursor()

In [7]:
# Create expenses table 
cursor.execute('''
               CREATE TABLE IF NOT EXISTS expenses(
                   id INTEGER PRIMARY KEY AUTOINCREMENT,
                   date TEXT NOT NULL,
                   category TEXT NOT NULL,
                   amount REAL NOT NULL,
                   description TEXT
                   )
               ''')
conn.commit()

In [8]:
## add expenses
def add_expense(date,category,amount,description):
    cursor.execute('''
                   INSERT INTO expenses(date,category,amount,description)
                   VALUES(?,?,?,?)
                   ''',(date,category,amount,description))
    conn.commit()

In [9]:
add_expense('2024-09-10', 'Groceries', 50.75, 'Weekly grocery shopping')
add_expense('2024-09-11', 'Transport', 15.00, 'Taxi fare')
add_expense('2024-09-12', 'Utilities', 100.00, 'Electricity bill')

In [10]:
# view expenses
def view_expenses():
    cursor.execute('SELECT*FROM expenses')
    rows=cursor.fetchall()
    for row in rows:
        print(row)

In [11]:
view_expenses()

(1, '2024-09-10', 'Groceries', 50.75, 'Weekly grocery shopping')
(2, '2024-09-11', 'Transport', 15.0, 'Taxi fare')
(3, '2024-09-12', 'Utilities', 100.0, 'Electricity bill')

In [12]:
#update and delete expenses
def update_expense(expense_id,date=None,category=None,amount=None,description=None):
    query='UPDATE expenses SET'
    #Make a empty list
    params=[]
    if date:
        query += ' date = ?,'
        params.append(date)
    if category:
        query += ' category = ?,'
        params.append(category)
        
    if amount:
        query+= ' amount = ?,'
        params.append(amount)
    
    if description:
        query+= ' description = ?,'
        params.append(description)
        
    query = query.rstrip(',') + ' WHERE id = ?'
    params.append(expense_id)
    cursor.execute(query,params)
    conn.commit()

In [13]:
# Updating sample expenses
update_expense(1, date='2024-09-11', amount=55.00)
update_expense(2, category='Public Transport', description='Bus fare')
update_expense(3, amount=105.00)

In [14]:
view_expenses()

(1, '2024-09-11', 'Groceries', 55.0, 'Weekly grocery shopping')
(2, '2024-09-11', 'Public Transport', 15.0, 'Bus fare')
(3, '2024-09-12', 'Utilities', 105.0, 'Electricity bill')

In [15]:
# delete expense
def delete_expense(expense_id):
    cursor.execute('DELETE FROM expenses WHERE id = ?',(expense_id,))
    conn.commit()

In [16]:
delete_expense(3)

In [17]:
view_expenses()

(1, '2024-09-11', 'Groceries', 55.0, 'Weekly grocery shopping')
(2, '2024-09-11', 'Public Transport', 15.0, 'Bus fare')