# Project 2: Library Management System

__Objective:__
Develop a system to manage books in a library, including adding new books, updating information, viewing book details, and removing books.

 ### Setup and Requirements:

- __Database:__ SQLite
- __Technology:__ Python

### Implementation Steps:

1. Create Database and Table:

In [1]:
# Import sqlite3
import sqlite3

In [2]:
# Create database 'library.db' if not exist 
conn = sqlite3.connect('library.db')

In [3]:
# Make an object and create table 'books'
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        published_date TEXT,
        isbn TEXT UNIQUE
    )
''')
conn.commit()

In [4]:
# Add a book 
def add_book(title, author, published_date, isbn):
    cursor.execute('''
                   INSERT INTO books(title, author, published_date, isbn)
                   VALUES (?, ?, ?, ?)
                   ''',((title, author, published_date, isbn)))
    conn.commit()

In [8]:
# Varify by adding books into the table 
add_book("The Great Gatsby", "F. Scott Fitzgerald", "1925-04-10", "9780743273565")
add_book("To Kill a Mockingbird", "Harper Lee", "1960-07-11", "9780060935467")
add_book("1984", "George Orwell", "1949-06-08", "9780451524935")

In [5]:
# View Books 
def view_books():
    cursor.execute('SELECT * FROM books')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [9]:
# View the table 
view_books()

(1, 'The Great Gatsby', 'F. Scott Fitzgerald', '1925-04-10', '9780743273565')
(2, 'To Kill a Mockingbird', 'Harper Lee', '1960-07-11', '9780060935467')
(3, '1984', 'George Orwell', '1949-06-08', '9780451524935')

In [6]:
# Update books
def update_book(book_id, title=None, author=None, published_date=None, isbn=None):
    query = 'UPDATE books SET'
    params = []
    if title:
        query += ' title = ?,'
        params.append(title)
    if author:
        query += ' author = ?,'
        params.append(author)
    if published_date:
        query += ' published_date = ?,'
        params.append(published_date)
    if isbn:
        query += ' isbn = ?,'
        params.append(isbn)
    query = query.rstrip(',') + ' WHERE id = ?'
    params.append(book_id)
    cursor.execute(query, params)
    conn.commit()

In [10]:
# Varify the update query works 
update_book(1, author="Francis Scott Fitzgerald")

In [11]:
view_books()

(1, 'The Great Gatsby', 'Francis Scott Fitzgerald', '1925-04-10', '9780743273565')
(2, 'To Kill a Mockingbird', 'Harper Lee', '1960-07-11', '9780060935467')
(3, '1984', 'George Orwell', '1949-06-08', '9780451524935')

In [7]:
# Delete Books 
def delete_book(book_id):
    cursor.execute('DELETE FROM books WHERE id = ?', (book_id,))
    conn.commit()

In [12]:
# Varify that the delete query
delete_book(3)

In [13]:
view_books()

(1, 'The Great Gatsby', 'Francis Scott Fitzgerald', '1925-04-10', '9780743273565')
(2, 'To Kill a Mockingbird', 'Harper Lee', '1960-07-11', '9780060935467')